# Secrets, environment variables and config files
**/.env
**/.env.**
!**/.env.example
**/config.py
**/**.conf
!**/mosquitto/mosquitto.example.conf
!**/telegraf/telegraf.example.conf
passwd
password
acl
!acl.example

# Firmware
*.bin
/firmware.bin
firmware.bin
.micropico

# Volumes and Node modules
.volumes
node_modules/
.npm
.next

# MacOS och VS Code
.DS_Store
.vscode
